*{
    margin: 0;
    padding: 0;
    font-family: "poppins","sans-serif";
    box-sizing: border-box;
}

body{
    font-size: 20px;
}

#main {
    border-style:dashed ;
    border-width: 2px;
    border-color: orange;
    background: gray;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.c1{
    margin: 5px 5px;
    border-style: solid;
    border-width: 1px;
}