*{
    margin: 0;
    padding: 0;
    font-family: "poppins","sans-serif";
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff; 
    width: 100%;
    font-size: 20px;    
}


.container{
    padding: 0px 10%;
    margin-top: 10vh;
    background-color: rgb(9, 8, 7);
    
}

h1 {
    font-size: 10px;
}

#header{
    box-shadow: 0px 0px 20px black inset;
    width: 100%;
    min-height: 100vh;
    background-image: url("images/forest night.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 5px;
    
}
#header .container{
    top: 0;
    margin: 0px 2vw;
    background-color: rgba(14, 11, 9, 0.8);
    border-radius: 400px;
    transition: 0.3s;
}

#header .container:hover{
    background-color: rgb(14, 11, 9);
    /* margin: 0px 0vw;                         caused issues for certain sizes */ 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header .container p {
    font-size: 50px;
    opacity: unset;
}

.container p span{
    font-size: 70px;
    color: #ffae00;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 15px 5px 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: 0.5s;
    
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 1px;
    background: rgb(103, 74, 0);
    position: absolute;
    left: 50%;
    bottom: -2px;
    transition: 0.5s;
    transform: translate(-50%, 0px);
}

nav ul li a:hover::after{
    width: 120%;
}

nav ul li a:hover{
    color: rgb(255, 174, 0);
    font-size: 110%;
}

.header-text{
    font-size: 30px;
    margin: 10% 0% 0% 8%;
}

.header-text h1{
    font-size: 50px;
}

.header-text h1 span {
    color: rgb(255, 174, 0);
    font-size : 60 px;
}

/*---------ABOUT------------------------------------------------------*/

#about {
    background: #131313;
} 


.row {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis:35%;
    flex-grow: 1;
    padding-right: 5%; 
    padding-left: 5%; 
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;                    
    background:rgb(255, 255, 255);                     /* to remove when imge put*/  
    /* padding: 80px 0px;                                   to remove when imge put */
}

.about-col-2 {
    flex-basis: 60%;
    flex-grow: 1;
    color: #c2c2c2;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.tab-titles p{
    margin: 0px 5px;
}

.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
    justify-content: space-between;
    color: white;
}

.tab-links{
    /* margin-right: 50px; */
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    border-radius: 10px;
    background-color:   rgb(255, 174, 0);
    position: absolute;
    left: 50% ;
    bottom: -8px; 
    transition: 0.5s;
    transform: translateX(-50%);
}

.tab-links.active-link::after{
    width: 50%;
}  

.tab-contents{
    display: none;
}

.tab-contents ul li{
    list-style: none;
     margin: 10px 0% ;
}

.tab-contents ul li span{
    color:rgb(190, 122, 27);
    font-size:  14px;
}

.tab-contents ul li .focus{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0px 5px;
    color:rgb(255, 174, 0);
    font-size:  16px;
    font-weight: bolder;
}

.tab-contents.active-tab{
    display: block;
}    

/*------------------------SERVICES-----------------------------------*/

#services{
    display: block;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    border-width: 2px;
}

.services-list div{
    background: #262626 ;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    transition: .5s .05s;
}

.services-list div h2 {
    font-size:30px;
    color: white;
    font-weight: 500;
    margin-bottom: 15px ;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 10%;
}
.services-list p {
    font-size: 15px;
    font-weight: 350;
    color: #c2c2c2;
}

.services-list div:hover{
    background-color: rgb(187, 115, 0);
    transform: translateY(-10px);

}

/* -----------------PORTFOLIO----------------- */

#portfolio {
    margin: 5vh 0px;
}

.work-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    position: relative;
    overflow: hidden;
    height: auto;
    border-radius: 10px;

}

.work:hover img{
    transform: scale(1.1);
    filter: blur(2px);
}

.work img{
    width: 100%;
    height: 60vh;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(#ffae000a,rgb(187, 115, 0) );
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    transition: .5s;
}

.layer p {
    font-size: 14px;
    font-weight: 350;
    color: #ffffff;
}

.layer h3 {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ffae00;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    font-size: 10px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffae00; 
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    background: #ffae00;
}


/* ----------------------------CONTACT------------------ */


#contact{
    width: 100%;
}

#contact .container{
    background: #101010;
    padding-top: 5vh ;
    width: 100%;
}

.contact-left {
    flex-basis: 35%;
    flex-grow: 1;
}

.contact-right {
    flex-grow: 1;
    flex-basis: 60%;
    
    
}

.contact-left p {
    margin-top: 30px;
    font-size: .8em;
}


.contact-left p i{
    color: #ffae00;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}

.social-icons a:hover {
    color: #ffae00;
    transform: translateY(-5px);
}


.btn.btn2{
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    background: #ffae00;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0px;
    color: white;
    font-size: 18px;
    border-radius:6px ;
}

form .btn2 {
    padding: 10px 50px;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 25px 0px;
    background: #262626;
    font-weight: 300;
    padding-top: 35px;
}

.copyright i {
    font-size: 10px;
    vertical-align: text-top;
    text-align: left;
}

#msg {
    color: #9aff88;
    font-size: 13px;
    margin-top: -40px;
    display: block;
    font-weight: 200;
}

nav .fas{
    display: none;
}


/*------------------------------ css for small screen -----------------------------------  */



@media only screen and (max-width: 600px){

    #header {
        background-position: right;
        background-size: cover;
        padding-top: 0px;
        min-height: 0vh;
    }
    
    #header .container nav p {
        font-size: 40px;
        margin-top: 10px;
    }

    #header .container {
        padding: 0px 20px;
    }

    #header .container:hover {
        background: rgba(14, 11, 9, 0.8);
    }

    #header .container nav p span {
        font-size: 50px;
    }

    #header .container {
        min-height: 90px;
        height: 90px;
        text-align: center;
        overflow-y: visible;
        border-radius: 0px;
        margin: 0px;
        margin-top: 0px;

    }

    nav .fas{
        display: block;
        font-size: 25px;
    }
    

    #header .container nav{
        justify-content: space-between;
        padding: 0px;
    }
    
    #header .container nav ul li{
        display: block;
        margin: 15px;
        margin-left: 20px;
    }

    .header-text{
        display: flex;
        align-items: center;
        height: 75vh;
    }

    .head-container {
        padding-top: 100px ;
    }

    .header-text h1 {
        font-size: 25px;
        font-weight: 400;
    }
    
    .header-text p {
        font-size: 15px;
        font-weight: 200;
    }
    
    .header-text span {
        font-weight: 600;
        font-size: 30px ;
    }

    nav ul {
        background-color: rgb(103, 74, 0);
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 60px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li a::after{
        background: rgb(211, 211, 211);
    }
    
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 15px;
        cursor: pointer;
        transition: .2s;
    }
    
    nav .fas {
        cursor: pointer;
        transition: .2s;
    } 

    nav .fas:hover{
        font-size: 30px;
        color: #ffae00; 
    }

}